*{
	margin: 0;
	padding: 0;
	font-family: century Gothic;
	box-sizing: border-box;
}

header{
	background:transparent;
	height: 23vh;
	background-size: cover;
	background-position: center;
	box-sizing: content-box;
	margin: 70px 150px;


}
.logo img{
	float: left;
	width: 300px;
	height:auto;

}
body{
		background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(mur.jpg);
	height: 200vh;
	box-sizing: content-box;
	margin: 50px 50px;
	color: #fff;
	box-sizing: 34;


}
ul{
	float: right;
	list-style-type: none;
	margin-top: 50px;
	
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color:  #fff;
	padding: 5px 15px;
 	border: 1px solid transparent;
 	
}
ul li a:hover{
	background-color: gray;
	color:yellow;
}
.main{
		background-color: black;
		border: 20px;
		
}
.text{
		color: yellow;
		font-size: 24px;

}

.text1{
	



	
}
.imm{
	margin: 100px;
}
.imag{
	display: inline-block;
	margin:50px;
	position: center;
}